<div class="navbar navbar-inverse" role="navigation" style="margin-top: 7px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <p style="font-size: larger;">
            <a class="navbar-brand" href="/"> News Highlights  By...</a> <br>
            <a href="https://georgekmbaria.wordpress.com/">George Kmbaria</a></p>
        </div>
        <div class="navbar-collapse collapse">
            
               
                
                 
        </div>

    </div>
</div>